<div class='tab-content col-sm-9'>
          <div class='row'>
            <div class='col-xs-12'>
              <!--<button class='btn btn-info pull-right' data-target='#newComplaint' data-toggle='collapse' style='margin-bottom: 12px'>-->
                <button class="btn btn-info pull-right" (click)="toggleShowForm()">
                  <span class='glyphicon glyphicon-plus'></span> New Complaint
              </button>
            </div>
          </div>
         
          <div class='row pull-right' id='newComplaint' *ngIf="showForm">
            <h3 class="col-md-12">New Complaint</h3>
            
            <div class='col-xs-12'>
              <form class='form-horizontal' role='form' >
                <div class='form-group'>
                  <label class='col-sm-2 control-label' for='inputEmail3'>Grower Name</label>
                  <div class='col-sm-5'>
                    <input class='form-control' id='first_name' placeholder='First' type='text'>
                  </div>
                  <div class='col-sm-5'>
                    <input class='form-control' id='last_name' placeholder='Last' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-sm-2 control-label' for='inputEmail3'>Region</label>
                  <div class='col-sm-3'>
                    <select class='form-control' id='first_name' placeholder='Region' style='margin-top: 10px; margin-left: -2px' type='text'>
                      <option value=''>Choose Territory</option>
                      <option value=''>Northwest</option>
                      <option value=''>East</option>
                      <option value=''>East Central</option>
                      <option value=''>West</option>
                    </select>
                  </div>
                  <label class='col-sm-2 control-label' for='inputEmail3'>Territory</label>
                  <div class='col-sm-5'>
                    <input class='form-control' id='last_name' placeholder='Territory' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-sm-2 control-label' for='inputPassword3'>Retailer</label>
                  <div class='col-sm-10'>
                    <input class='form-control' id='street_address' placeholder='Retailer Name' type='text'>
                  </div>
                </div>
                <br>
                <div class='form-group'>
                  <label class='col-sm-2 control-label' for='inputPassword3'>Complaint</label>
                  <div class='col-sm-10'>
                    <textarea class='form-control' name='' rows='5'></textarea>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-sm-2 control-label'></label>
                  <div class='col-xs-10'>
                    <button class='btn btn-success' >Submit Complaint</button>
                    <!--<button class='btn btn-danger' data-target='#newComplaint' data-toggle='collapse'>-->
                     <button class='btn btn-danger' (click)='toggleShowForm()'> 
                       Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class='tab-pane fade active in pull-right' id='tab1'>
            <div class='row search-anything'>
              <div class='col-xs-10'>
                <input class='form-control input-xl' [(ngModel)]='filterString' placeholder='Search by region name' type='text'>
              </div>
              <div class='col-xs-2'>
                <a class='btn btn-success pull-right btn-block' >Search</a>
              </div>
            </div>
            <br>
            <table class='table table-hover' *ngIf="complaints && complaints.length">
              <thead>
                <tr>
                  <th><a (click)="changeOrder('region')">Region</a></th> 
                  <th><a (click)="changeOrder('territory')">Territory</a></th>
                  <th><a (click)="changeOrder('grower')">Grower</a></th>
                  <th><a (click)="changeOrder('retailer')">Retailer</a></th>
                  <th><a (click)="changeOrder('dateFiled')">Date Filed</a></th>
                  <th><a (click)="changeOrder('status')">Status</a></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let complaint of complaints | byTerritory:filterString | orderBy: order : reverse">
                  <td>{{complaint.region }}</td>
                  <td>{{complaint.territory}}</td>
                  <td>{{complaint.grower}}</td>
                  <td>{{complaint.retailer}}</td>
                  <td>{{complaint.dateFiled}}</td>
                  <td>{{complaint.status}}</td>
                </tr>
              </tbody>
            </table>
          

